body {
    color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background: #000;
    padding: 20px;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}

p:hover {
    background: green;
}