body {
    margin: 10px;
}

.contenedor-1 {
    background: green;
    padding: 30px;
}

.contenedor-2 {
    background-color: pink;
    padding: 20px;
}

button {
    padding: 5px;
}

.contenedorInput{
    background: gray;
    padding: 10px;
}    

.inputEventos{
    padding: 5px;
}